CALCULOS EN GENERAL/Connected Services/calcularAreas1/Calcular.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CREADOR">
        <s:complexType />
      </s:element>
      <s:element name="CREADORResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CREADORResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CUADRADO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Lado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CUADRADOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CUADRADOResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TRIANGULO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Base" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Altura" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TRIANGULOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TRIANGULOResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CIRCULO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Radio" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CIRCULOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CIRCULOResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CREADORSoapIn">
    <wsdl:part name="parameters" element="tns:CREADOR" />
  </wsdl:message>
  <wsdl:message name="CREADORSoapOut">
    <wsdl:part name="parameters" element="tns:CREADORResponse" />
  </wsdl:message>
  <wsdl:message name="CUADRADOSoapIn">
    <wsdl:part name="parameters" element="tns:CUADRADO" />
  </wsdl:message>
  <wsdl:message name="CUADRADOSoapOut">
    <wsdl:part name="parameters" element="tns:CUADRADOResponse" />
  </wsdl:message>
  <wsdl:message name="TRIANGULOSoapIn">
    <wsdl:part name="parameters" element="tns:TRIANGULO" />
  </wsdl:message>
  <wsdl:message name="TRIANGULOSoapOut">
    <wsdl:part name="parameters" element="tns:TRIANGULOResponse" />
  </wsdl:message>
  <wsdl:message name="CIRCULOSoapIn">
    <wsdl:part name="parameters" element="tns:CIRCULO" />
  </wsdl:message>
  <wsdl:message name="CIRCULOSoapOut">
    <wsdl:part name="parameters" element="tns:CIRCULOResponse" />
  </wsdl:message>
  <wsdl:portType name="CalcularSoap">
    <wsdl:operation name="CREADOR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">metodo de dar la bienvenida</wsdl:documentation>
      <wsdl:input message="tns:CREADORSoapIn" />
      <wsdl:output message="tns:CREADORSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CUADRADO">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Area de un cuadrado</wsdl:documentation>
      <wsdl:input message="tns:CUADRADOSoapIn" />
      <wsdl:output message="tns:CUADRADOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TRIANGULO">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Area de un Triangulo</wsdl:documentation>
      <wsdl:input message="tns:TRIANGULOSoapIn" />
      <wsdl:output message="tns:TRIANGULOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CIRCULO">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Area de un Circulo</wsdl:documentation>
      <wsdl:input message="tns:CIRCULOSoapIn" />
      <wsdl:output message="tns:CIRCULOSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalcularSoap" type="tns:CalcularSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CREADOR">
      <soap:operation soapAction="http://tempuri.org/CREADOR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CUADRADO">
      <soap:operation soapAction="http://tempuri.org/CUADRADO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TRIANGULO">
      <soap:operation soapAction="http://tempuri.org/TRIANGULO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CIRCULO">
      <soap:operation soapAction="http://tempuri.org/CIRCULO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalcularSoap12" type="tns:CalcularSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CREADOR">
      <soap12:operation soapAction="http://tempuri.org/CREADOR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CUADRADO">
      <soap12:operation soapAction="http://tempuri.org/CUADRADO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TRIANGULO">
      <soap12:operation soapAction="http://tempuri.org/TRIANGULO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CIRCULO">
      <soap12:operation soapAction="http://tempuri.org/CIRCULO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calcular">
    <wsdl:port name="CalcularSoap" binding="tns:CalcularSoap">
      <soap:address location="https://localhost:44368/Calcular.asmx" />
    </wsdl:port>
    <wsdl:port name="CalcularSoap12" binding="tns:CalcularSoap12">
      <soap12:address location="https://localhost:44368/Calcular.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>